.qr-generator {
  text-align: center;
  margin-top: 50px;
}

/* Puedes eliminar estos estilos porque Bootstrap se encargará de ellos */
/*
input {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
}
*/
